---
import BaseLayout from '../layouts/BaseLayout.astro';
import Narrow from '../components/Narrow.astro';
import MediaGrid from '../components/MediaGrid.astro';
---

<BaseLayout title="About Me" description="My design technologist journey.">
  <section>
    <div class="border-b border-zinc-200 pb-12 mb-12">
      <h2
        class="text-4xl tracking-tight text-balance font-display text-black mb-6"
      >
        My Story
      </h2>
      <em class="text-zinc-500">console.log(life)</em>
    </div>

    <Narrow>
      <p>
        Hi, I'm Jared Devine, a hybrid designer and front-end developer with a
        background in Interactive Multimedia Development from Algonquin College,
        where I graduated in 2009. My career began in Toronto, working with
        digital agencies and large brands, which sharpened my design and
        development skills. I eventually returned to Ottawa, engaging in agency
        and freelance work before joining IBM as a UX Engineer. Over my five
        years there, my role evolved to focus on prototyping, interaction work,
        and ultimately, UX Design.
      </p>
      <p>
        Over the last 15 years, my passion for technology has allowed me to
        develop a diverse skill set, thriving in UX Design and Front-End
        Development. I serve as a bridge between design and development teams,
        enhancing communication and collaboration, which is crucial for the
        successful release of modern, problem-solving, and inspiring products.
        This collaborative approach is vital in creating impactful and beautiful
        digital solutions.
      </p>
      <p>
        I am committed to creating meaningful user experiences that simplify
        complex tasks, making digital products not only visually appealing but
        also functional and easy to use. By continuously learning and adapting
        to new technologies, design theories, and practices, I stay ahead in the
        field, allowing me to experiment with innovative concepts and solutions.
        My ultimate goal is to enhance people's lives through accessible,
        intuitive, and high-quality design.
      </p>
    </Narrow>

    <MediaGrid
      image1Src="/images/levis.png"
      image1Alt="Levi's Screenshot"
      image2Src="/images/advantage.png"
      image2Alt="Advantage Communications Screenshot"
      image3Src="/images/ca-one.png"
      image3Alt="Cognos Screenshot"
    />

    <Narrow>
      <div class="py-12 border-b border-zinc-200">
        <h3 class="text-3xl font-semibold">Brands</h3>
        <ul class="mt-3">
          <li>IBM</li>
          <li>Levi's</li>
          <li>LCBO</li>
          <li>Sunny D</li>
          <li>Guinness</li>
          <li>Metronome</li>
          <li>Grand &amp; Toy</li>
          <li>Canadian Tire</li>
          <li>Moose Bicycle</li>
          <li>Hudson's Bay Company</li>
          <li>Advantage Communications</li>
        </ul>
      </div>
      <div class="py-12 border-b border-zinc-200">
        <h3 class="text-3xl font-semibold">Skills</h3>
        <ul class="mt-3">
          <li>UI Design</li>
          <li>UX Design</li>
          <li>Wireframing</li>
          <li>Prototyping</li>
          <li>Product Design</li>
          <li>Interaction Design</li>
          <li>Front-End Development</li>
          <li>Interactive Multimedia Development</li>
        </ul>
      </div>
      <div class="py-12 border-b border-zinc-200">
        <h3 class="text-3xl font-semibold">Tech</h3>
        <ul class="mt-3">
          <li>HTML</li>
          <li>CSS</li>
          <li>Javascript</li>
          <li>React</li>
          <li>Astro</li>
          <li>PHP</li>
          <li>Github</li>
        </ul>
      </div>
      <div class="py-12 border-b border-zinc-200">
        <h3 class="text-3xl font-semibold">Tools</h3>
        <ul class="mt-3">
          <li>Figma</li>
          <li>Photoshop</li>
          <li>Illustrator</li>
          <li>After Effects</li>
          <li>Final Cut Pro</li>
          <li>Logic Pro</li>
        </ul>
      </div>
    </Narrow>
  </section>
</BaseLayout>
