---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<a
  href={href}
  class={`${className} uppercase text-sm font-semibold border-b-2 hover:border-black duration-300 pb-1 ${isActive ? "border-black" : "border-transparent"}`}
  {...props}
>
  <slot />
</a>
